.animate(@type , @time){
    -o-transition:@type @time;
    -moz-transition:@type @time;
    -webkit-transition:@type @time;
    transition:@type @time;
    transition-timing-function:ease;

}

.animated{
    .animate(all, 500ms);
}

.shadow{
    box-shadow: @boxShadow;
}

.box{
   box-shadow: @boxShadow;
   padding: @leading;
   margin-bottom: @leading;
   background-color: @white;
   &:first-child{
    margin-top: @leading;
   } 
}

.shadow-button{

    box-shadow: @boxShadow;
    cursor: pointer;
    .animate(all, 200ms);
    &:hover{
        box-shadow: none;
    }
}
