.newMargin(@value){
  .m-t-@{value}{
    margin-top: unit(@value*@leading, rem);
  }
  .m-r-@{value}{
    margin-right: unit(@value*@leading, rem);
  }
  .m-b-@{value}{
    margin-bottom: unit(@value*@leading, rem);
  }
  .m-l-@{value}{
    margin-left: unit(@value*@leading, rem);
  }
}

.marginLoop(@index) when (@index > -1){

  .newMargin(@index);

  .marginLoop(@index - 1);

}

.marginLoop(5);